html,
body {
  /* overflow-x: hidden; */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  font-size: 14px;
  font-weight: 700;
}
.superNav {
  font-size: 13px;
}
.form-control {
  outline: none !important;
  box-shadow: none !important;
}
/* shadow4side at homepage */
.shadow4side {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* detailproduct page freereturn basket */
.custumButtonFreeReturn {
  background-color: white !important;
}
.custumButtonFreeReturn:hover {
  background-color: aqua !important;
}

/* all product page target card */
.targetCard-AllProductPage img {
  width: 40%;
  margin: auto;
  padding-top: 20px;
  height: 200px !important;
  object-fit: contain;
}
.targetCard-AllProductPage:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* not found page */
.notfound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.notfound h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.cart_wrapper {
  display: flex;
  justify-content: space-around;
}

.cart_items {
  display: flex;
  flex-direction: column;
}
.checkout_container {
  background-color: lightblue;
  padding: 1rem;
  border-radius: 4px;
  width: 15rem;
  height: 7rem;
}

/* slider in big Hero  */
.sliderBigHero {
  animation-name: sliderBigHero;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  /* how many round of slide to make--animation-iteration-count: ;  */
  animation-delay: 5beachs;
  /* width: 200px;
height: 200px; */
  background-image: url('https://img.freepik.com/free-photo/pretty-blonde-woman-wearing-floral-dress-posing-near-yellow-wall_291049-108.jpg?t=st=1717500053~exp=1717503653~hmac=3404936734794b2a111f82620ce75fd283805581ddf158db1a3a710bdc9980eb&w=1800');
  background-size: cover;
}
@keyframes sliderBigHero {
  0% {
    background-image: url('https://img.freepik.com/free-photo/pretty-blonde-woman-wearing-floral-dress-posing-near-yellow-wall_291049-108.jpg?t=st=1717500053~exp=1717503653~hmac=3404936734794b2a111f82620ce75fd283805581ddf158db1a3a710bdc9980eb&w=1800');
    background-size: cover;
  }
  25% {
    background-image: url('https://img.freepik.com/free-photo/joyful-woman-pink-shorts-standing-near-colorful-graffiti_197531-17113.jpg?t=st=1717500226~exp=1717503826~hmac=d71b5585ac75854c3e9e267ff5d8fa6f12a49dae9fe2caa5e894ee4659f78695&w=1800');
    background-size: cover;
  }
  50% {
    background-image: url('https://img.freepik.com/free-photo/young-woman-yellow-dress-with-hat_291650-54.jpg?t=st=1717500302~exp=1717503902~hmac=2c715fe38df86509351b094e6da6e79b7fc451ff5304cded12e2eae8518b97f4&w=1800');
    background-size: cover;
  }
  75% {
    background-image: url('https://img.freepik.com/free-photo/view-flip-flops-with-summer-essentials-starfish_23-2149460080.jpg?t=st=1717501344~exp=1717504944~hmac=e5afdbbcc03cafccd5dee1d32d03690ae965416e01d0824652ed9cd7d2bda81b&w=1800');
    background-size: cover;
  }
  100% {
    background-image: url('https://img.freepik.com/free-photo/pretty-blonde-woman-wearing-floral-dress-posing-near-yellow-wall_291049-108.jpg?t=st=1717500053~exp=1717503653~hmac=3404936734794b2a111f82620ce75fd283805581ddf158db1a3a710bdc9980eb&w=1800');
    background-size: cover;
  }
}
/* phone */
@media screen and (max-width: 900px) {
  .sliderBigHero {
  }
  @keyframes sliderBigHero {
    0% {
      background-position: center center;
    }
    25% {
      background-position: center center;
    }
    50% {
      background-position: center center;
    }
    75% {
      background-position: center center;
    }
    100% {
      background-position: center center;
    }
  }
}

/* phone */
@media screen and (max-width: 540px) {
  .centerOnMobile {
    text-align: center;
  }
}

#flowbite-card-image img {
  width: 30%;
}
